[
    {
        sasl,
        [
            {sasl_error_logger, false},
            {error_logger_mf_ftype, [system, error]},           %% system|info|warning|error|other  
            {error_logger_mf_dir, "../logs/sasl"},              %% 
            {error_logger_mf_maxbytes, 1048760},                %% 
            {error_logger_mf_maxfiles, 10}                      %% 
        ]
    },
    {
        gameserver,
        [
            {mysql_config,  [
                "127.0.0.1",
                3306,
                "username",
                "passwd",
                "demo_db",
                utf8
            ]},
            {log_level, 5},
            {log_path, "../logs"}
        ]
    }
].